/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/assets
composer.lock
/public/css/dev_style.css
/nbproject/private/
/nbproject/project.properties
/nbproject/project.xml
/storage/app/public/credit_imported_files
/storage
/public/statements
/database/snapshots
/dist
*.sql
